{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
 
<h1> Liste des formations </h1>


<table>
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
        <tr>
            <td>{{formation.nomFormation}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
