{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<p>Prénom : {{ app.user.prenom}}</p>  
<p>Nom : {{app.user.nom }}</p>
<p>Email : {{app.user.email }} </p>

{% endblock %}
