/**** GENERAL ****/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 200;
}

.bold{
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: #6D6875;
}

h8, h2{
    font-family: 'oswald';
}

/**** LOGIN ****/

.security-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    
}

.security-form button {
    border: 0px;
    border-radius: 5px;
    background-color: #E5989B;
    color: white;
    min-width: 20%;
    margin: auto;
    padding: 10px;
}

.security-form input{
    border : 0px;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 20px 10px;
   
    
}

.security-container h1{
    margin: 20px 0px;
    text-align: center;
}

/**** NAV ****/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5989B;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: 400;
    margin: 0px 10px;
}

.nav-logo {
    font-family: 'oswald';
    font-size: 38px;
}

.nav-item-background{
    background-color: #B5838D;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 13px;
}

/**** TABLEAUX ****/

.titre-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1em;
    margin: 20px;
}

.titre-page h1{
    font-family: 'oswald';
    text-align: center;
}

.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: auto;
    
}

table{
    border-collapse: collapse;
    margin: 30px 0px;
    width: 100%;
    max-width: 1000px;
    
  }
  
  td{
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    
  }

  th{
    background-color: #6D6875;
    padding: 10px;
    color: white;
  }


  /**** DETAIL SESSION *****/


  .session-detail-container{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    margin: 0px 0px 80px auto;
    
  }

  .table-session-details{
    border-collapse: collapse;
    margin: 30px 0px;
    width: 600px
  }

  .table-session-details-non-programmes{
   width: 600px;
    margin: 0px;
  }

  @media (max-width: 1300px){
    .table-session-details{
        width: 450px;
    }
    .table-session-details-non-programmes{
        width: 450px;
    }
  }

  @media (max-width: 500px){
    .table-session-details{
        width: 300px;
    }
    .table-session-details-non-programmes{
        width: 300px;

    }
  }

  .th-duree{
    background-color: #f7f7f7;
    color: black;
    font-weight: 400;
  }

  .fa-calendar-xmark{
    color: #E5989B;
  }
  
  .fa-user-xmark{
    color: #E5989B;
  }

  .fa-user-plus{
    color: #B7F7C1;
  }

  .fa-calendar-plus{
    color: #B7F7C1;
    font-size: 18px;
  }

  .fa-chevron-up{
    font-size: 30px;
  }

  .submit-button{
    background-color: transparent;
    border: 0px;
  }

  .input-duree{
    border: 0px;
    font-family: 'Poppins';
    max-width: 50px;
    text-align: center;
  }

  .details-contenu{
    background-color: #f8f8f8;
    width: 100%;
    max-width: 1290px;
    padding: 10px;
    margin: 40px auto;
  }

  .modules-non-programmes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5989B;
    color: white;
    padding: 10px 15px;
  }