/**** GENERAL ****/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 200;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover{
    color: #6D6875;
}

h8, h2{
    font-family: 'oswald';
}

/**** LOGIN ****/

.security-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    
}

.security-form button {
    border: 0px;
    border-radius: 5px;
    background-color: #E5989B;
    color: white;
    min-width: 20%;
    margin: auto;
    padding: 10px;
}

.security-form input{
    border : 0px;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 20px 10px;
   
    
}

.security-container h1{
    margin: 20px 0px;
    text-align: center;
}

/**** NAV ****/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5989B;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: 400;
    margin: 0px 10px;
}

.nav-logo {
    font-family: 'oswald';
    font-size: 38px;
}

.nav-item-background{
    background-color: #B5838D;
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 13px;
}

/**** TABLEAUX ****/

.titre-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 1em;
    margin: 20px;
}

.titre-page h1{
    font-family: 'oswald';
}

.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

table{
    border-collapse: collapse;
    margin: 30px 0px;
    
  }
  
  td{
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    
  }

  th{
    text-align: center;
    background-color: #6D6875;
    padding: 10px;
    color: white;
  }

  