{% extends 'base.html.twig' %}

{% block title %}Hello ModulesController!{% endblock %}

{% block body %}


<a href="{{path ('add_new_module')}}"><i class="fa-regular fa-square-plus"></i> Ajouter un module</a>

{% endblock %}
