{% extends 'base.html.twig' %}

{% block title %} Ajouter une session {% endblock %}

{% block body %}

{# Message si pas connecté#}

{% if not app.user %}

<p class="titre-page"> Connectez vous pour accéder au contenu. </p>

{% else %}

    <h1 class="titre-page"> Toutes les catégories </h1>

 {% if categories|length == 0 %}

    <p class="titre-page"> Aucune catégorie à afficher. </p>

 {% else %}

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de Modules</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
            <tr>
                <td>{{categorie.nomCategorie}}</td>
                <td>{{categorie.modules|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}

{% endblock %}