{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}

<h1>Liste des formateurs</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
    </thead>
    <tbody>
        {% for formateur in formateurs %}
        <tr>
            <td><a href="{{path ('detail_formateur', {id : formateur.id })}}">{{formateur.prenom}}</a></td>
            <td>{{formateur.nom}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
